{% for post in posts %}
<a href="#" class="text-decoration-none">
  {% if forloop.last and page_obj.has_next %}
  <div
    class="card border-0 pb-3 pb-sm-5"
    hx-trigger="revealed"
    hx-get="{% url 'homepage' %}?page={{ page_obj.number|add:1 }}"
    hx-swap="afterend"
  >
  {% else %}
  <div class="card border-0 pb-3 pb-sm-5">
  {% endif %}
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <div class="pb-2 text-body infscroll-author">{{ post.author }}</div>
          <h1 class="mb-1 fw-bold text-body infscroll-title">
            {{ post.title|truncatechars:40 }}
          </h1>
          <h4 class="text-muted fs-6 d-none d-sm-block">{{ post.subtitle }}</h4>
          <div class="text-muted infscroll-date">
            {{ post.updated_at|date:'M d' }}
          </div>
        </div>
      </div>
      <div class="col-4">
        <img
          src="https://picsum.photos/205/115"
          alt=""
          class="img-fluid float-end"
        />
      </div>
    </div>
  </div>
</a>
{% endfor %}
