{% extends "base.html" %}

{% block content %}
<style>
    @media only screen and (min-width: 992px) {
        .col-navbar {
            border-right: 1px solid #dee2e6;
            display: flex;
            flex: 0 0 80px;
            height: 100vh;
            justify-content: center;
        }
    }
</style>

<div class="container" style="max-width: 1500px !important;">
    <div class="row">
        <div class="col-navbar">
            {% block content-left %}

            {% endblock content-left %}
        </div>
        <div class="col-12 col-lg-8 pt-5 px-4 px-md-5 ">
            {% block content-center %}

            {% endblock content-center %}
        </div>
        <div class="d-none d-lg-block col-lg-3 pt-5 ps-4 border-start">
            {% include "blog/components/search-bar.html" %}
            {% block content-right %}

            {% endblock content-right %}
            {% include "./footer.html" %}
        </div>
    </div>
</div>
{% endblock content %}
